<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095634644633-8ffq2q36okens13kqm17m3aosl5st82b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095634644633-8ffq2q36okens13kqm17m3aosl5st82b</string>
	<key>API_KEY</key>
	<string>AIzaSyBpXQf_XZtcWEfO-IHOu-3DHrFSjI1waQE</string>
	<key>GCM_SENDER_ID</key>
	<string>1095634644633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.WhatsPopping</string>
	<key>PROJECT_ID</key>
	<string>whats-poppin-7546f</string>
	<key>STORAGE_BUCKET</key>
	<string>whats-poppin-7546f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095634644633:ios:b669246c0b1b0555715208</string>
</dict>
</plist>