<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000521080825-mmftkhvi6q95qcr0bgg1hftbgvcgug20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000521080825-mmftkhvi6q95qcr0bgg1hftbgvcgug20</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Htqu7p5gPCtj75rG1j6vTHgPx-g7YHA</string>
	<key>GCM_SENDER_ID</key>
	<string>1000521080825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.maryland.cmsc436.spring2021.openTok</string>
	<key>PROJECT_ID</key>
	<string>assign5-9fcd9</string>
	<key>STORAGE_BUCKET</key>
	<string>assign5-9fcd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000521080825:ios:894b812b9ed1f88c7a2728</string>
</dict>
</plist>